/* FONTS IMPORTÉS */
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* FONTS IMPORTÉS */

/**
{ 
    outline: 1px solid red;
    outline-offset: -1px;
}*/

/* ORGANISATION
    Mon CSS est organisé de la sorte :

        1. Éléments par défaut et sections (GÉNÉRAL)
        2. Éléments de l'en-tête
        3. Éléments de navigation
        4. Éléments animés
        5. Éléments de boîtes
            • Boites des diverses pages du site
            • Boites par défaut
        6. Éléments de formulaire
        7. Éléments de texte (titres, listes, etc.)
        8. Éléments de pied-de-page
    
    Chaque section est divisée en sous-sections, basées
    sur les types de propriétés utilisées

        1. Apparence
        2. Dimension
        3. Texte

    Voilà! */
  
/* GÉNÉRAL */
    body
    {
        /* APPARENCE */
            background-color: #0e0e0e;
        /* APPARENCE */

        /* TEXTE */
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: larger;
            font-weight: lighter;
            text-align: justify;
        /* TEXTE */
    }

    section /* Settings par défaut */
    {
        /* APPARENCE */
            display: flex;
            justify-content: center;
        /* APPARENCE */
    }

    /* Settings différents */
        .about
        {
            /* APPARENCE */
                display: grid;
            /* APPARENCE */
        }

        .art
        {
            /* APPARENCE */
                display: grid;
            /* APPARENCE */
        }
    /* Settings différents */

    a
    {
        /* TEXTE */
            color: white;
            font-weight: 700;
            font-size: xx-large;
            text-decoration: none;
        /* TEXTE */
    }
/* GÉNÉRAL */


/* ÉLÉMENTS DE L'EN-TÊTE */
    header
    {
        /* APPARENCE */
            display: flexbox;
            background-color: #8f2c42;
        /* APPARENCE */
    }

    @keyframes slide 
    {
        100%
        { 
            left: 0; 
        }
    }

    .banner
    {
        /* APPARENCE */
            background-color: #ff6e8e42;
            padding: 0.5em 0.5em;
        /* APPARENCE */
        
        /* TEXTE */
            font-family: 'Abril Fatface', cursive;
            font-size: 50px;
            text-align: center;
        /* TEXTE */

        /* ANIMATION */
            transition: 1s;
            animation: slide 0.5s left;
        /* ANIMATION */
    }
/* ÉLÉMENTS DE L'EN-TÊTE */


/* ÉLÉMENTS DE NAVIGATION */
    nav
    {
        /* APPARENCE */
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 5vw;
        /* APPARENCE */

    }

    nav > a
    {
        /* TEXTE */
            font-size: xx-large;
            font-weight: lighter;
        /* TEXTE */

        /* DIMENSION */
            height: 5vh;
        /* DIMENSION */
    }

    .sidenav 
    {
        /* APPARENCE */
            display: grid;
            position: fixed;
            background: #8f2c42;
            padding: 1%;
            border-left: #df6d8f 1% solid;
        /* APPARENCE */

        /* DIMENSION */
            width: 10%;
            z-index: 1;
        /* DIMENSION */

        /* ANIMATION */
            scroll-behavior: smooth;
        /* ANIMATION */
    }

    .sidenav > a 
    {
        /* TEXTE */
            color: white;
            font-size: x-large;
            font-weight: lighter;
        /* TEXTE */

        /* APPARENCE */
            margin: 2%;
        /* APPARENCE */
    }
/* ÉLÉMENTS DE NAVIGATION */


/* ÉLÉMENTS AVEC ANIMATIONS */
    .clickable:hover
    {
        /* APPARENCE */
            color: #ff7d99;
            background-color: unset;
        /* APPARENCE */
    }

    .clickable
    {
        /* APPARENCE */
            display: flex;
        /* APPARENCE */

        /* DIMENSION */
            width: fit-content;
        /* DIMENSION */

        /* ANIMATION */
            animation: colorFade ease 1s;
            animation-fill-mode: forwards;
            transition: color 1s ease-out 100ms, background-color 1s ease-out;
        /* ANIMATION */
    }
/* ÉLÉMENTS AVEC ANIMATIONS */


/* ÉLÉMENTS DE BOÎTES */
    /* 
        Les propriétés des contenants peuvent changer, dépendamment du
        layout de la page actuelle.
    */

    /* Section CONTACT */

        .contact > .container
        {
            /* DIMENSION */
                width: 60em;
            /* DIMENSION */
        }
    /* Section CONTACT */

    /* Section PROJECTS */
        .projects > .container > p
        {
            /* APPARENCE */
                padding: 2%;
                margin: 3%;
            /* APPARENCE */
        }

        .projects > .container
        {
            /* APPARENCE */
                column-gap: 5%;
                margin-bottom: 3%;
                padding: 2%;
            /* APPARENCE */

            /* DIMENSION */
                width: 40em;
            /* DIMENSION */
        }
    /* Section PROJECTS */

    /* Section ART */
        .art > .container
        {
            /* APPARENCE */
                display: flex;
                column-gap: 4vw;
                padding: 2%;
            /* APPARENCE */

            /* DIMENSION */
                width: 50em;
            /* DIMENSION */
        }
    /* Section ART */
    
    /* Section ABOUT */
        .about > .container
        {
            /* DIMENSION */
                width: 50em;
            /* DIMENSION */

            /* APPARENCE */
                background-color: #22222252;
                margin-bottom: 7%;
                padding: 3%;
            /* APPARENCE */
        }
    /* Section ABOUT */

    /* Section HOME */
        .home > .container
        {
            /* APPARENCE */
                margin: 2%;
                padding: 1%;
            /* APPARENCE */

            /* DIMENSION */
                width: 30em;
            /* DIMENSION */
        }
    /* Section HOME */

    /* Base */
        .container
        {
            /* APPARENCE */
                display: grid;
                min-width: min-content;
                height: max-content;
            /* APPARENCE */
        }
    /* Base */
    
/* ÉLÉMENTS DE BOÎTES */

/* STYLE DU FORMULAIRE */
    form
    {
        /* DIMENSION */
            display: grid;
            line-height: 150%;
            width: max-content;
        /* DIMENSION */

        /* APPARENCE */
            border-style: none;
            margin: 3%;
        /* APPARENCE */
    }

    label
    {
        /* TEXTE */
            color: #EDAF97;
            text-shadow: 2px 1px 1px #da7750e5;
            font-size: x-large;
            font-weight: bold;
        /* TEXTE */
    }

    input
    {
        /* TEXTE */
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* TEXTE */

        /* APPARENCE */
            background-color: #58585833;
            width: 20vw;
            height: 3vh;
        /* APPARENCE */
    }

    textarea
    {
        /* APPARENCE */
            background-color: #58585833;
        /* APPARENCE */

        /* DIMENSION */
            max-width: 20vw;
            height: 10vh;
        /* DIMENSION */

        /* TEXTE */
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: medium;
        /* TEXTE */
    }

    .submit_button
    {
        /* APPARENCE */
            margin: 5%;
        /* APPARENCE */

        /* DIMENSION */
            width: 10vw;
            height: 5vh;
        /* DIMENSION */

        /* TEXTE */
            font-weight: 700;
            font-size: large;
            justify-self: center;
        /* TEXTE */
    }
/* STYLE DU FORMULAIRE */


/* STYLES DE TEXTES (TITRES, ETC.) */
    h1
    {
       /* TEXTE */
            color: #edaf97;
            text-shadow: 2px 1px 1px #da7750e5;
            font-family: Abril Flatface;
            font-size: xxx-large;
            font-weight: 700;
            text-align: center;
            letter-spacing: 3px;
        /* TEXTE */

        /* ANIMATION */
            animation: fadeIn 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        /* ANIMATION */
    }

    @keyframes fadeIn
    {
        0% 
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }

    h2
    {
        /* TEXTE */
            color: #df6d8f;
            text-shadow: 2px 1px 1px #a14561d0;
            font-family: Abril Flatface;
            font-size: xx-large;
            text-align: center;
            letter-spacing: 3px;
        /* TEXTE */  
    }

    h3
    {
        /* TEXTE */
            font-size: x-large;
            font-weight: 700;
            margin-bottom: none;
            letter-spacing: 1px;
        /* TEXTE */
    }

    p
    {
        /* APPARENCE */
            border-left: solid #8f2c429d;
            padding: 2%;
        /* APPARENCE */
    }

    li
    {
        /* APPARENCE */
            margin: 1%;
        /* APPARENCE */
    }
    
/* STYLES DE TEXTES (TITRES, ETC.) */


/* ÉLÉMENTS DE PIED DE PAGE */
    footer
    {
        /* APPARENCE */
            display: flexbox;
            background-color: #8f2c41;
            line-height: 1.5em;
        /* APPARENCE */

        /* TEXTE */
            font-size: medium;
            text-align: center;
        /* TEXTE */
    }

    .socialmedia
    {
        /* APPARENCE */
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 5%;
        /* APPARENCE */
    }

    .reseau
    {
        /* APPARENCE */
            display: flex;
            column-gap: 1em;
        /* APPARENCE */
    }

    .reseau > a
    {
        /* TEXTE */
            font-size: medium;
            font-weight: bold;
        /* TEXTE */
    }

    .reseau > img
    {
        /* DIMENSIONS */
            width: 1.4em;
            height: 1.4em
        /* DIMENSIONS */
    }
/* ÉLÉMENTS DE PIED DE PAGE */