header
{
    color: white;
}

contenant
{
    /* Style des boites */
    border-color: red;
    background-color: black;

    /* Style du corps de texte */
    margin-left: 30px;
    font-style: Tahoma;

}