@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*
{ 
    outline: 1px solid red;
    outline-offset: -1px;
}
  
/* FOND */
    body
    {
        /* APPARENCE */
            background-color: #0e0e0e;
        /* APPARENCE */
    }
/* FOND */

/* ÉLÉMENTS DE L'EN-TÊTE */
    header
    {
        /* APPARENCE */
            display: flexbox;
            background-color: #8f2c42;
        /* APPARENCE */
    }

    nav
    {
        /* APPARENCE */
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 5vw;
        /* APPARENCE */

    }

    nav > a
    {
        /* TEXTE */
            font-size: xx-large;
            font-weight: 50;
        /* TEXTE */

        /* DIMENSION */
            height: 5vh;
        /* DIMENSION */
    }

    .banner
    {
        /* APPARENCE */
            background-color: #ff6e8e42;
            row-gap: 100px;
            padding: 0.5em 0.5em;
        /* APPARENCE */
        
        /* TEXTE */
            color: white;
            font-family: 'Abril Fatface', cursive;
            font-size: 50px;
            text-align: center;
        /* TEXTE */
    }

    @keyframes fadeIn
    {
        0% 
        {
            opacity: 0;
        }
        100%
        {
            opacity: 1;
        }
    }
/* ÉLÉMENTS DE L'EN-TÊTE */


/* GÉNÉRAL */
    section
    {
        /* APPARENCE */
            display: flex;
            justify-content: center;
            position: relative;
        /* APPARENCE */
    }

    a /* Pour les liens généraux */
    {
        /* TEXTE */
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-decoration: none;
        /* TEXTE */

        width: fit-content;
    }
/* GÉNÉRAL */


/* ÉLÉMENTS AVEC ANIMATIONS */
    .clickable:hover
    {
        /* APPARENCE */
            color: #ff7d99;
            background-color: unset;
        /* APPARENCE */
    }

    .clickable
    {
        /* APPARENCE */
            display: flex;
        /* APPARENCE */

        /* DIMENSION */
            width: fit-content;
        /* DIMENSION */

        /* ANIMATION */
            animation: colorFade ease 1s;
            animation-fill-mode: forwards;
            transition: color 1s ease-out 100ms, background-color 1s ease-out;
        /* ANIMATION */
    }
/* ÉLÉMENTS AVEC ANIMATIONS */


/* ÉLÉMENTS DE BOÎTES (tailles par défaut sur index.html) */
    /* Section CONTACT */

        .contact > .container
        {
            /* DIMENSION */
                width: 60em;
            /* DIMENSION */
        }

        .container_subelement
        {
            /* APPARENCE */
                display: flex;
                width: fit-content;
                height: fit-content;
                position:sticky;
                margin: 3%;
            /* APPARENCE */
        }
    
        .container_subelement > p
        {
            /* APPARENCE */
                border: none;
            /* APPARENCE */
        }
    /* Section CONTACT */

    /* Section PROJECTS */
        .projects > .container > p
        {
            /* APPARENCE */
                padding: 2%;
                margin: 3%;
            /* APPARENCE */
        }

        .projects > .container
        {
            /* DIMENSION */
                width: 50em;
            /* DIMENSION */
        }
    /* Section PROJECTS */

    /* Section ABOUT */
        .about
        {
            display: grid;
        }

        .about > .container
        {
            /* DIMENSION */
                width: 50em;
            /* DIMENSION */

            /* APPARENCE */
                background-color: #22222252;
                margin-bottom: 10%;
                padding: 3%;
            /* APPARENCE */
        }
    /* Section ABOUT */

    /* Section HOME */
        .home > .container
        {
            /* APPARENCE */
                margin: 1%;
                padding: 2%;
            /* APPARENCE */

            /* DIMENSION */
                width: 30em;
            /* DIMENSION */
        }

        .home > .container > a
        {
            /* APPARENCE */
                margin: 5%;
            /* APPARENCE */
        }
    /* Section HOME */

    /* Base */
        .container
        {
            /* APPARENCE */
                display: flexbox;
                margin: 2%;
            /* APPARENCE */
        }

        .container_element
        {
            /* APPARENCE */
                display: flex;
                flex-direction: row;
            /* APPARENCE */
        }

        .scroller
        {
            /* APPEARANCE */
                justify-self: center;
                margin-bottom: 10%;
            /* APPEARANCE */

            /* DIMENSION */
                width: 17.45vw;
            /* DIMENSION */

            /* SCROLL */
                scroll-behavior: smooth;
            /* SCROLL */
        }
    /* Base */
    
/* ÉLÉMENTS DE BOÎTES */

/* STYLE DU FORMULAIRE */
    form
    {
        /* DIMENSION */
            display: grid;
            line-height: 150%;
            width: max-content;
        /* DIMENSION */

        /* APPARENCE */
            border-style: none;
        /* APPARENCE */
    }

    label
    {
        /* TEXTE */
            color: #EDAF97;
            text-shadow: 2px 1px 1px #da7750e5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large;
            font-weight: bold;
        /* TEXTE */
    }

    input
    {
        /* APPARENCE */
            background-color: #58585833;
            width: 20vw;
            height: 3vh;
        /* APPARENCE */

        /* TEXTE */
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: medium;
        /* TEXTE */
    }

    form > textarea
    {
        /* APPARENCE */
            background-color: #58585833;
        /* APPARENCE */

        /* DIMENSION */
            max-width: 20vw;
            height: 10vh;
        /* DIMENSION */

        /* TEXTE */
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: medium;
        /* TEXTE */
    }

    .submit_button
    {
        /* DIMENSION */
            width: 10vw;
        /* DIMENSION */

        /* TEXTE */
            font-weight: 700;
            justify-self: center;
        /* TEXTE */
    }
/* STYLE DU FORMULAIRE */


/* STYLES DE TEXTES (TITRES, ETC.) */
    h1
    {
       /* TEXTE */
            color: #EDAF97;
            text-shadow: 2px 1px 1px #da7750e5;
            font-family: Abril Flatface;
            font-size: xxx-large;
            font-weight: bolder;
            text-align: center;
            letter-spacing: 3px;
        /* TEXTE */

        /* ANIMATION */
            animation: fadeIn 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        /* ANIMATION */
    }

    h2
    {
        /* TEXTE */
            color: #df6d8f;
            text-shadow: 2px 1px 1px #a14561d0;
            font-family: Abril Flatface;
            font-size: xx-large;
            text-align: center;
            letter-spacing: 3px;
        /* TEXTE */  
    }

    h3
    {
        /* DIMENSION */
            width: fit-content;
        /* DIMENSION */

        /* TEXTE */
        color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: x-large;
            font-weight: bolder;
            letter-spacing: 1px;
        /* TEXTE */
    }

    p
    {
        /* TEXTE */
            color: rgb(255, 244, 244);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: larger;
            font-weight: lighter;
            text-align: justify;
        /* TEXTE */

        /* APPARENCE */
            border-left: solid #8f2c429d;
            padding: 2%
        /* APPARENCE */
    }

    a
    {
        /* APPARENCE */
            background-color: #8f2c41;
            padding: 1%;
        /* APPARENCE */

        /* TEXTE */
            font-size: x-large;
            font-weight: bolder;
        /* TEXTE */
    }

    li
    {
        /* TEXTE */
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: larger;
            font-weight: lighter;
            text-align: justify;
        /* TEXTE */

        /* APPARENCE */
            margin: 1%;
        /* APPARENCE */
    }
    
/* STYLES DE TEXTES (TITRES, ETC.) */


/* ÉLÉMENTS DE PIED DE PAGE */
    footer
    {
        /* APPARENCE */
            display: flexbox;
            background-color: #8f2c41;
            line-height: 1.5em;
        /* APPARENCE */

        /* TEXTE */
            color: white;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: medium;
            font-weight: lighter;
            text-align: center;
        /* TEXTE */
    }

    .socialmedia
    {
        /* APPARENCE */
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 5%;
        /* APPARENCE */
    }

    .reseau
    {
        /* APPARENCE */
            display: flex;
            column-gap: 1em;
            justify-content: center;
        /* APPARENCE */
    }

    .reseau > a
    {
        /* TEXTE */
            font-size: large;
            font-weight: bold;
        /* TEXTE */
    }

    .reseau > img
    {
        /* DIMENSIONS */
            width: 1.4em;
            height: 1.4em
        /* DIMENSIONS */
    }
/* ÉLÉMENTS DE PIED DE PAGE */